@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookstore Portal by Sachin Mahore</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
       
        <p><a class="btn btn-info" href="~/Book">BookList</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-success" href="~/Book">BookList using jQuery</a></p>
    </div>

    <div class="col-md-4">
        <h3>Bookstore API for business</h3>
        <p><a class="btn btn-default" href="~/api/BookAPI">Book List(GET)</a></p>
        <p><a class="btn btn-default" href="~/api/BookAPI/4">Book Details by ID(GET)</a></p>
        <p><a class="btn btn-default" href="~/api/BookAPI/1">Book Details Update by ID(PUT)</a></p>
        <p>{
    "BookID":1,
    "Name":"test book updated by API",
    "Author":"Sachin Mahore",
    "ISBN":"452563568657",
    "Description":"Thkis is test bokk for PUT Bookstor aPI"
}</p>
    </div>
</div>